Source: graphite-web
Section: misc
Priority: extra
Maintainer: Kulikovsky Dmitry <dkulikovsky@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), cdbs, python-support
Standards-Version: 3.9.3
Homepage: http://github.com/graphite-project/

Package: graphite-web
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
	python-cairo, python-tz, python-pyparsing, python-django-tagging, python-mysqldb, mysql-server, python-flup, haproxy
Description: graph system uses ceres
 New graph system uses ceres
